@import url("/public/css/variable.css");
@import url("/public/css/component.css");

body{
    font-family: 'Poppins';
    color: var(--Black) !important;
    padding: 0px 0px 30px 0px;
    margin-bottom: 300px;
    overflow-x: hidden !important;
}

.container{
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.btn{
    border: none;
    border-radius: 50px;
    font-size: 16px;
    line-height: 24px;
}

.subject p{
    line-height: 27px;
}

section{
    padding: 70px 0px !important;
}

/* Nav */
nav{
    background-color: #fff;
    padding: 20px 20px 20px 20px !important;
    transition: box-shadow ease 0.5s;
}


nav.navbar div.collapse.navbar-collapse li a.nav-link{
    font-weight: var(--Reguler);
    font-size: 16px;
    line-height: 24px;
    color: var(--Black) !important;
    padding: 0px 50px 0px 0px;
}

nav.navbar div.collapse.navbar-collapse li a.nav-link > last-child{
    padding: 0px;
}

nav.navbar div.collapse.navbar-collapse li a.nav-link:hover{
    color: var(--Purple) !important;
}

nav.navbar div.collapse.navbar-collapse li a.nav-link.active{
    font-weight: var(--SemiBold);
    color: var(--Purple) !important;
}

/* Hero */
#hero{
    margin-top: 0px !important;
}

#hero span img{
    width: 46px;
    height: 46px;
}
#hero h1, #hero p{
    margin-bottom: 18px;
}

#client{
    margin-top: 120px !important;
}

#hero #client, #hero #client #brands{
    margin-top: 50px;
}

#hero #client #brands div.row:first-child{
    margin-bottom: 40px;
}


/* Benefits */
#benefits{
    background-color: var(--GreyBG);
}

#benefits .cards .card-group .card{
    min-width: 201px !important;
}

#benefits .cards .card-group .card, #pricing .card-group .card{
    margin: 30px 0px ;
    padding: 30px;
    border-radius: 28px;
    border: none;
}

#benefits .cards .card-group, #benefits .cards .card-group .card .card-body, #pricing .card-group, #pricing .card-group .card .card-body{
    margin-top: 30px;
}

#benefits .cards .card-group .card .img-card img, #pricing .card-group .card .img-card img{
    width: 24px !important;
    height: 24px !important;
}

#benefits .cards .card-group .card .img-card, #pricing .card-group .card .img-card{
    width: max-content;
    padding: 18px;
    border: solid 1px var(--BorderColorCard);
    border-radius: 18px;
}

#benefits .cards .card-group .card:first-child, #pricing .card-group .card:first-child{
    margin: 0px;
    margin-bottom: 30px;
}

#benefits .cards .card-group .card:last-child, #pricing .card-group .card:last-child{
    margin: 0px;
    margin-top: 30px;
}

/* Roadmap */
#roadmap{
    height: max-content;
}


#roadmap .th{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}


.custom-tooltip{
    z-index: 1;
    top: -40px !important;
    left: -100px !important;
    --bs-tooltip-bg: transparent !important;
}

.card-info{
    width:396px;
    padding: 44px 15px 26px;
    background-color: var(--White);
    border-radius: 18px !important;
}

.card-info p{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 10px;
}

#roadmap .row:last-child .bar-info {
    position: relative;
}

#roadmap .row:last-child .col{
    margin-top: 37px;
    padding: 13px 12px 5px;
    background-image: url('/public/images/tb_road.webp');

}

#roadmap .row:last-child .col .row div.bar{
    padding: 30px 0px;
    max-width: 350px !important;
    border-radius: 18px;
    margin-bottom: 20px;
}

#roadmap .row:last-child .col .row div.bar#rec{
    background-color: var(--Purple1);
}

#roadmap .row:last-child .col .row div.bar#liv{
    background-color: var(--Purple2);
    z-index: 5;
    width: 100%;
}

#roadmap .row:last-child .col .row div.bar#qa{
    background-color: var(--Purple3);
    z-index: 5;
}

#roadmap .row:last-child .col .row div.bar#big{
    background-color: var(--Purple);
}

#roadmap .row:last-child .col .row div.bar#big p{
    color: var(--White) !important;
}

#roadmap .row:last-child .col .row div.bar p{
    font-weight: 600;
    line-height: 27px;
    color: var(--Black) !important;
}

#roadmap .row:last-child .col .row div.bar p img{
    /* margin-right: 10px; */
    width: 24px;
    height: 24px;
}

#roadmap .row:last-child .col .row:first-child{
    margin-bottom: 40px;
}


/* Pricing */
#pricing{
    background-color: var(--Black);
    max-height: 640px;
    background-image: url('/public/images/background.png'); 
    background-size: cover;
    height: 640px;
    margin-top: 70px;
}

#pricing .card-group .card:first-child{
    height: max-content;
}

#pricing .card-group .card .card-body ul.benefit{
    list-style-type: none;
    padding: 0px;
}

#pricing .card-group .card .card-body ul.benefit li{
    /* list-style-image: url('/public/images/icons/ic_check.svg'); */
    font-weight: 500;
    margin: 20px 0px;
}

#pricing .card-group .card .card-body ul.benefit li img{
    margin-right: 8px;
}

#pricing .card-group .card .card-body ul.benefit li:first-child{
    margin: 0px;
    margin-bottom: 20px;
}

#pricing .card-group .card .card-body ul.benefit li:last-child{
    margin: 0px;
    margin-top: 20px;
}

#pricing .card-group .card .card-body a.btn{
    margin-top: 30px;
}

#pricing h3{
    color: var(--White);
}

#pricing p{
    color: #A59FB7;
}

#pricing .card-group .card p.text-body{
    line-height: 24px;
}

#pricing .card-group .card{
    border: solid 1px #D7D7D7 !important;
}

/* Animation */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.add-shadow{
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.15);
}

.tippy-box[data-theme~='all-bar'] {
    background-color: transparent;
    top: 160px !important;
    left: -380px !important;
    margin: 0px !important;
}

.tippy-box[data-theme~='bar-last'] {
    background-color: transparent;
    top: 160px !important;
    right: -340px !important;
    margin: 0px !important;
}

/* Responsive */
 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (min-width: 575.98px) {
    nav{
        padding: 20px 50px 20px 50px !important;
     }

     #benefits .cards .card-group .card, #pricing .card-group .card{
        margin: 0px 15px;
        padding: 30px;
        border-radius: 28px;
        border: none;
    }
    
    #benefits .cards .card-group .card:first-child, #pricing .card-group .card:first-child{
        margin: 0px;
        margin-right: 15px !important;
    }
    
    #benefits .cards .card-group .card:last-child, #pricing .card-group .card:last-child{
        margin: 0px;
        margin-left: 15px !important;
    }
 }
 
  /* `md` applies to small devices (landscape phones, less than 768px) */
 @media (min-width: 767.98px) {
    nav{
        padding: 20px 80px 20px 80px !important;
     }
 }
 
  /* `lg` applies to medium devices (tablets, less than 992px) */
 @media (min-width: 991.98px) {
    nav{
        padding: 20px 100px 20px 100px !important;
     }
 }
 
  /* `xl` applies to large devices (desktops, less than 1200px) */
 @media (min-width: 1199.98px) {
     
 }
 
  /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
 @media (min-width: 1399.98px) {
     
 }